{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>YAUN</title>
        <link rel="stylesheet" href="{% static 'feed_notify/normalize.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'feed_notify/default.css' %}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="sidebar">
            <nav>
                <h1>YAUN</h1>
            </nav>
            <div class="sourcecontainer">
                <div class="sourceheader">
                    <h2>Sources</h2>
                </div>

                <ul class="sources">
                    <li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li>
                    <li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li>
                    <li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li>
                    <li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li><li>
                        <h3>Source Name</h3>
                        <a href="#">Source URL</a>
                    </li>
                </ul>
                <div class="addSourcesContainer">
                    <form class="" method="">
                        <label for="rssurl">Add source</label><br>
                        <input name="rssurl" type="text">
                        <button type="submit">&#43;</button>
                    </form>

                </div>

            </div>
        </div>
        <div class="linkscontainer">
            <h2>Links</h2>
            {% if updates %}
                <ul class="links">
                {% for update in updates %}
                    <li>
                        <h4>{{ update.title }}</h4>
                        <a href="{{ update.link }}">{{ update.link }}</a>
                        <div>{{ update.summary|safe }}</div>
                    </li>
                {% endfor %}
                </ul>
                <span>That's all!</span>
            {% else %}
                <span>No updates found</span>
            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script type="text/JavaScript">
            $(function() {
                $(".sources li").first().addClass("active");
                $(".sources li").click(function(){
                    $(".sources li").removeClass("active");
                    $(this).addClass("active");
                });

            });
        </script>
    </body>
</html>
