body {
    height: 100%;

}
h2 {

}
h3 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}
.sidebar {
    float: left;
    width: 300px;
    height: 100vh;
    border-right: 1px solid #ccc;
    overflow-y: hidden;

}
nav {
    padding: 1rem;
}
h1 {
    margin: 0;
}
.sourcecontainer {
    height: 100%;

}
.sourcecontainer h2 {
    font-size: 1rem;
}
.sourceheader {
    padding-left: 1rem;
    border-bottom: 1px solid #ccc;

}
.sources {
    height: calc(100% - 189px);
    overflow-y: scroll;
    margin: 0;
}
.sources li {
    margin: 0;
    padding: 1rem;
    padding-left: calc(1rem - 4px);
    cursor: pointer;
    /*border-bottom: 1px solid #ccc;*/
    margin-left: 4px;
    opacity: .7;

}
.sources h3 {
    margin: 0;
}
.sources a {
    text-decoration: none;
    font-size: .75rem;
}
.sources li:not(.active):hover {
    border-left: solid 4px #ccc;
    margin-left: 0;
    opacity: .9;
}
.sources li.active {
    border-left: solid 4px #44f;
    margin-left: 0;
    opacity: 1;
    background-color: #fafafa;
}
.addSourcesContainer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background: #eee;
    width: calc(300px - 2rem);
}

.linkscontainer {
    /*margin-left: 300px;*/
    float: left;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    width: calc(100vw - 301px);

    padding: 1rem 2rem;


}
.links li {
    margin-bottom: 4rem;
}
